# VacationPy

In [2]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rikitea,PF,2022-10-27 21:47:11,-23.1203,-134.9692,73.67,77,44,13.80
1,1,Altay,CN,2022-10-27 21:47:12,47.8667,88.1167,39.63,91,100,1.12
2,2,Port Hardy,CA,2022-10-27 21:47:12,50.6996,-127.4199,50.18,81,100,12.66
3,3,Ushuaia,AR,2022-10-27 21:44:10,-54.8000,-68.3000,46.06,61,75,19.57
4,4,Atuona,PF,2022-10-27 21:47:13,-9.8000,-139.0333,77.13,73,39,16.98

In [4]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [10]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []

#In the for loop, we're using the max() function to get the largest value between the temp and 0. 
# If the temp is less than 0, then 0 will be added to the list in its place. 

# We can use a for loop
#for temp in max_temp:
    #temps.append(max(temp, 0))
    
# We can also use comprehenssion lists and add it direct√±y to the heat layer part
# [max(temp,0) for temp in max_temp]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5) # adding a center and zoom level
# Assign the heatmap variable.

heat_layer = gmaps.heatmap_layer(locations, 
                                 weights=[max(temp,0) for temp in max_temp],
                                dissipating=False,# dissipation option for creating heatmaps 
                                max_intensity=300, # used to make each measurement have a better gradient variance.
                                point_radius=4) # used to make each measurement radius larger.

# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

### Create a percent humidity Heatmap

In [11]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

### Create a percent Cloudiness Heatmap

In [12]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

### Create a Wind Speed Heatmap

In [14]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
speed = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=speed, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

## 6.5.3 Get vacation criteria

In [15]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [19]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                    (city_data_df["Max Temp"] > min_temp)]

preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
4,4,Atuona,PF,2022-10-27 21:47:13,-9.8000,-139.0333,77.13,73,39,16.98
6,6,Jutai,BR,2022-10-27 21:47:14,-5.1833,-68.9000,81.09,84,91,1.54
7,7,Avon Park,US,2022-10-27 21:43:26,27.5959,-81.5062,87.73,63,93,5.01
10,10,Wad Rawah,SD,2022-10-27 21:47:16,15.1603,33.1397,84.97,19,12,12.08
11,11,Vaini,TO,2022-10-27 21:47:16,-21.2000,-175.2000,78.96,78,40,11.50
14,14,Bathsheba,BB,2022-10-27 21:47:18,13.2167,-59.5167,83.01,74,40,20.71
15,15,Santa Isabel Do Rio Negro,BR,2022-10-27 21:47:18,-0.4139,-65.0192,83.28,70,88,2.93
17,17,Faanui,PF,2022-10-27 21:47:19,-16.4833,-151.7500,79.63,70,100,5.93
20,20,Hithadhoo,MV,2022-10-27 21:47:20,-0.6000,73.0833,81.12,79,81,14.18
23,23,Paragominas,BR,2022-10-27 21:47:21,-2.9667,-47.4833,78.35,72,87,3.42

In [22]:
# Looking for null values
preferred_cities_df.count()

City_ID       169
City          169
Country       168
Date          169
Lat           169
Lng           169
Max Temp      169
Humidity      169
Cloudiness    169
Wind Speed    169
dtype: int64

In [24]:
# dropping the null values
preferred_cities_df = preferred_cities_df.dropna()
preferred_cities_df.count()

City_ID       168
City          168
Country       168
Date          168
Lat           168
Lng           168
Max Temp      168
Humidity      168
Cloudiness    168
Wind Speed    168
dtype: int64

## 6.5.4 Map Vacation Criteria

In [25]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                         City Country  Max Temp      Lat       Lng Hotel Name
4                      Atuona      PF     77.13  -9.8000 -139.0333
6                       Jutai      BR     81.09  -5.1833  -68.9000
7                   Avon Park      US     87.73  27.5959  -81.5062
10                  Wad Rawah      SD     84.97  15.1603   33.1397
11                      Vaini      TO     78.96 -21.2000 -175.2000
14                  Bathsheba      BB     83.01  13.2167  -59.5167
15  Santa Isabel Do Rio Negro      BR     83.28  -0.4139  -65.0192
17                     Faanui      PF     79.63 -16.4833 -151.7500
20                  Hithadhoo      MV     81.12  -0.6000   73.0833
23                Paragominas      BR     78.35  -2.9667  -47.4833

In [35]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [36]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
4,Atuona,PF,77.13,-9.8000,-139.0333,Villa Enata
6,Jutai,BR,81.09,-5.1833,-68.9000,
7,Avon Park,US,87.73,27.5959,-81.5062,Econo Lodge Sebring
10,Wad Rawah,SD,84.97,15.1603,33.1397,ÿ≠Ÿàÿ¥ ÿ¨ŸÑŸä ŸàÿØÿ±ÿßŸàÿ©
11,Vaini,TO,78.96,-21.2000,-175.2000,Keleti Beach Resort
14,Bathsheba,BB,83.01,13.2167,-59.5167,Atlantis Hotel
15,Santa Isabel Do Rio Negro,BR,83.28,-0.4139,-65.0192,Hotel GSA
17,Faanui,PF,79.63,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
20,Hithadhoo,MV,81.12,-0.6000,73.0833,Scoop Guest House
23,Paragominas,BR,78.35,-2.9667,-47.4833,INOVA

### Create a Maximum Temperature Heatmap from a Hotel DataFrame

In [39]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} ¬∞F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()] # Stores the info box for hotel
marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info) # creating markers for each city

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))